<body class="container">

<h1> Page Profil </h1>

		 <h2> Voici le profil de l'auteur <%= @author.first_name%> <%= @author.last_name%> </h2>

     <p> D'autres informations concernant cet auteur viendront s'afficher ici dans la semaine </p>

</body>
