<body class="container">

<h1> Page de la super team </h1><br/>
<p> C'est notre super <strong> team </strong> qui a construit ce super site de potins.</p>
<p> Tu veux en savoir plus sur notre super <strong> team </strong> ou nous poser une question? <br/>
  Ecris-nous via la page contact! </p>

</body>
